<div class="outer-container">
  <div class="inner-container">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="text-light">Super Mall</h2>
        <div class="card">
          <img class="card-img-top" src="../../assets/img/fast&furious.jpg" alt="Card image">
          <div class="card-body">
            <h4 class="card-title text-light m-0">Director</h4>
            <p class="card-text m-0 mb-2">Joss Whedon.</p>
            <h4 class="card-title text-light m-0 ">Director</h4>
            <p class="card-text m-0 ">Joss Whedon.</p>
          </div>
        </div>
        <!-- Thursday,4 May -->
      </div> 
      <div class="col-sm-9">
        <div class="row">
        <div class="col-sm-6">
          <h2 class="mt-5 text-light">Fast And Furious 8</h2>
          <h4 class="text-light"> ShowTime</h4>
          <div class="d-flex ">
            <div class="movie-dimension">
              <h5>2D</h5>
              <h5>10:00</h5>    
            </div>
            <div class="movie-dimension">
              <h5>2D</h5>
              <h5>10:00</h5>    
            </div>
            <div class="movie-dimension">
              <h5>2D</h5>
              <h5>10:00</h5>    
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <h2 class="mt-5 text-light">Fast And Furious 8</h2>
          <h4 class="text-light"> ShowTime</h4>
          <div class="d-flex ">
            <div class="movie-dimension">
              <h5>2D</h5>
              <h5>10:00</h5>    
            </div>
            <div class="movie-dimension">
              <h5>2D</h5>
              <h5>10:00</h5>    
            </div>
            <div class="movie-dimension">
              <h5>2D</h5>
              <h5>10:00</h5>    
            </div>
          </div>

        </div>
      </div>

      <div class="box"></div>
      
        
    <div class="d-flex p-3">
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="invisible far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
      <i class="far fa-square fa-1x mr-1"></i>
    </div>

<div class="container">
 <div class="row text-light">
<div class="col-sm-2">
  <h5>Name</h5>
  <h4>Peter Quinn</h4>
</div>
<div class="col-sm-6" >
  <h5>Tickets</h5>
  <p class="text-wrap">6 Tickets,Row:E;Seats:E8,E9,E10,Row:D;Seats:D8,D9,D10,Row:E;Seats:E8,E9,E10,Row:D;Seats:D8,D9,D10</p>>
</div>

<div class="col-sm-2">
  <h5>Name</h5>
  <h4>Peter Quinn</h4>
</div>

<div class="col-sm-2">
  <h5>Name</h5>
  <h4>Peter Quinn</h4>
</div>
 </div>
</div>
  </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row ">
 <div class="col-sm-2">
   <h5>Name</h5>
   <h4>Peter Quinn</h4>
 </div>
 <div class="col-sm-6 w-100" >
   <h5>Tickets</h5>
   <p class="text-wrap ">
    6 Tickets,Row:E;Seats:E8,E9,E10,Row:D;Seats:D8,D9,D10,Row:E;Seats:E8,E9,E10,Row:D;Seats:D8,D9,D10,
    6 Tickets,Row:E;Seats:E8,E9,E10,Row:D;Seats:D8,D9,D10,Row:E;Seats:E8,E9,E10,Row:D;Seats:D8,D9,D10</p>>
 </div>
 
 <div class="col-sm-2">
   <h5>Name</h5>
   <h4>Peter Quinn</h4>
 </div>
 
 <div class="col-sm-2">
   <h5>Name</h5>
   <h4>Peter Quinn</h4>
 </div>
  </div>
 </div>


<!-- <div *ngFor="let m of data">
    <div *ngFor="let seat of m.totalSeatSpaces">
       <div *ngFor="let emptySpace of n.emptySpaces">
           <div *ngIf ="emptySpace== seat; else seatAllocate">

           </div>
<ng-tempalate #seatAllocate>   
<div>

</div>
</ng-tempalate>


       </div>

    </div>

</div>

<div *ngIf="isLoggedIn; else loggedOut">
    Welcome back, friend.
  </div>
  
  <ng-template #loggedOut>
    Please friend, login.
  </ng-template>   -->