<!-- <p>seats-arrangment works!</p>


<div *ngFor="let m of data">
    <div *ngFor="let seat of m.totalSeatSpaces">
       <div *ngFor="let emptySpace of n.emptySpaces">
           <div *ngIf ="emptySpace== seat; else seatAllocate">

           </div>
<ng-tempalate #seatAllocate>   
<div>

</div>
</ng-tempalate>


       </div>

    </div>

</div>

<div *ngIf="isLoggedIn; else loggedOut">
    Welcome back, friend.
  </div>
  
  <ng-template #loggedOut>
    Please friend, login.
  </ng-template>  -->