.filter-container{
    background-color: #dcdee0;
    padding:12px 20px 12px 20px
}

.filter-container hr,.inner-container hr{
    border-top: 2px solid #B0AEB8 ;
}


.outer-container{
 padding: 10px;
 background-color:#E7EBF4
}

.inner-container{
    background-color: #ffffff;
    padding: 24px;
    border:1px solid #fff;
    border-color: 2px;
}

.circle-img{
    border-radius: 50%;
    width: 100%;
}

.fa-star{
    color: #FFB700;
    margin-left: 5px;
    margin-right: 5px;
}

.genre{
    background-color: #F5F8FD;
    padding: 7px;
    border: 1px solid white;
    font-weight: 500;
}

.movie-details{
    display: flex;
    align-items: flex-start;
}
.date{
    color: #9DA5AB;
    margin-top: 4px;
    font-size: 10px;
    margin-left: 2px;
}
.inner-container p{
    color: #9DA5AB;
}

.schedule-movie-container{
    padding: 10px;
    background-color: #F4F7FC;
}
.schedule-movie-block{
display: flex;
background-color: #fff;
justify-content: space-evenly;
color: #EA5070;
margin-bottom: 10px;
}
.fields{
    display: flex;
  
    background-color: #F4F7FC;
    border-bottom: 2px solid #D9D9E2;
    margin-bottom: 10px;
}
.element{
    flex-basis: 20%;
    flex-grow: 0;
    padding-left: 8px;
}

.movie-stats-container{
display: flex;
flex-wrap: wrap;
//   justify-content: space-evenly;
}
.movie-stats{
    padding: 15px;
    flex-basis: calc(33.33% - 12px) !important;
    flex-grow: 0;
    margin-right: 12px;
    color: #A3ABB0;
    background-color: #ffffff;
    }

.fa-money-bill{
    color: green;
}

@media screen and (max-width: 719px) {
.movie-stats{
    flex-basis: 100% !important ; 
    margin-bottom: 5px !important;
}
}

