<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-bar">
            <ul class="nav nav-justified">
                <li class="nav-item">
                    <a [routerLink]="['/courses']" class="nav-link active" href="javascript:void(0);" title="Learn">
                        <span class="sprite-icons learn-tab-icon"></span> Learn
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" title="Follow Up">
                        <span class="sprite-icons follow-tab-icon"></span> Follow Up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" title="Stats">
                        <span class="sprite-icons stat-tab-icon"></span> Stats
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" title="Customs">
                        <span class="sprite-icons customs-tab-icon"></span> Customs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" title="Explain">
                        <span class="sprite-icons explain-tab-icon"></span> Explain
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" title="Social">
                        <span class="sprite-icons social-tab-icon"></span> Social
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>