<div class="bg-color">
    <div class="row">
        <div class="col-sm-6">
            <div class="stats-container mt-4">
                <h4> Stats</h4>
                <hr>
                <div class="d-flex flex-wrap">
                    <div class="inner-container">
                        <h5 class="mb-0"> Total Movie Running </h5>
                        <h4>12 </h4>
                    </div>
                    <div class="inner-container">
                        <h5 class="mb-0"> Total Movie Running </h5>
                        <h4>12 </h4>
                    </div>
                    <div class="inner-container">
                        <h5 class="mb-0"> Total Movie Running </h5>
                        <h4>12 </h4>
                    </div>
                    <div class="inner-container">
                        <h5 class="mb-0"> Total Movie Running </h5>
                        <h4>12 </h4>
                    </div>
                    <div class="inner-container">
                        <h5 class="mb-0"> Total Movie Running </h5>
                        <h4>12 </h4>
                    </div>
                    <div class="inner-container">
                        <h5 class="mb-0"> Total Movie Running </h5>
                        <h4>12 </h4>
                    </div>
                    <div class="inner-container">
                        <h5 class="mb-0"> Total Movie Running </h5> 
                        <h4>12 </h4>
                    </div>
                </div>
            </div>
            <div class="stats-container mt-4">
                <h4> Stats</h4>
                <hr>
                <div>

                </div>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="screen-container mt-4">
                <h4> Active Screens</h4>
                <hr>
                <div class="d-flex flex-wrap">
                    <div class="inner-screen-container">
                        <h5 class="mb-0"> Total Movie Running </h5>
                        <h4>12 </h4>
                    </div>
        </div>
    </div>
</div>