.bg-color{
padding:14px;
background: linear-gradient(#EEEEF2, #5a5a5c)
}


.stats-container,.screen-container{
padding:14px;
border:1px solid #e6e5e7;
background-color: #ffffff;

}

hr{
  border-top: 2px solid #cdcccd !important ;  
}
.inner-container{
    margin-left: 20px;
}
.inner-container h4 {
    color:#EA5740
}

.inner-screen-container{
    padding-left: 10px;
    border-left: 3px solid #EA5740 ;

}
