<section class="mt-4">
    <div class="container">
     <div class="row">
         <div *ngFor="let activeMovie of activeMovies"  class="col-sm-3 col-6">
            <div (click)="selectedMovie(activeMovie._id)" class="card">
                <img class="card-img-top" src="../../assets/img/pic2.jpg" alt="Card image">
                <div class="card-body px-0">
                  <div>
                    <div class="row no-gutters">
                        <div class="col-4 col-sm-3 text-center">
                            <div style="font-size: 13px;">{{activeMovie.releaseDate | date :"dd"}} </div>
                            <div style="font-size: 13px">{{activeMovie.releaseDate | date :"MMM"}}</div>
                        </div>
                        <div class="col-8 col-sm-9">
                            <div class="event-title">{{activeMovie.movieName}}</div>
                            <div class="event-subtitle">Valid Across All Sunburn Events</div>
                            <div  class="event-subtitle">Music Show</div>
                            <div class="event-subtitle">{{activeMovie.movieName}}</div>
                        </div>
    
                  </div>
                </div>
              </div>
        </div>
         </div>
        <!-- <div class="col-sm-3 col-6" >
            <div class="card">
                <img class="card-img-top" src="../../assets/img/pic1.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/pic2.jpg" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
        </div> -->
    
     </div>
    </div>
    </section> 