
  <div class="imgBanner"></div>
  <div class="row wrapper">
    <div class="col-sm-2">
      <div class="ml-2">
        <img src="../../assets/img/fast&furious.jpg">
        <h6 class="movie-slogan"> Saving The World In Style</h6>
        <div class="d-flex flex-row flex-wrap mb-2">
          <div class="animation-type"> 2D</div>
          <div class="animation-type"> 3D</div>
          <div class="animation-type"> IMAX 3D</div>
        </div>
        <h6> APPLICABLE OFFERS</h6>
        <div class="offers">
       <div class="d-flex flex-row bms">
       <img src="../../assets/img/icon.jpg">
       <div class="container-text">
         <h6>Filmy Pass</h6>
         <p style="font-size:12px">
          Save upto Rs.225* on your next 3 movies. Buy Filmy Pass @Rs.59                                        
         </p>
       </div>
       </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="movie-details">
        <h3 class="mb-1">Fast And Furious 8</h3>
        <div class="mb-2">ENGLISH,HINDI</div>
        <div class="d-flex flex-row flex-wrap">
          <div class="round ">Action</div>
          <div class="round">Sci-Fi</div>
        </div>
        </div>
        <!-- <hr class="mt-0 mb-2"> -->
        <div class="d-flex flex-row mt-2 text-white">
          <span> 27 Apr,2012</span>
          <span class="ml-3"> 2 hr 22 min</span>
          <div class="ml-auto mr-5">
            <!-- <i class="fa fa-heart fa-1x pt-2"> </i> -->
            <i class="fab fa-facebook-f fa-2x mr-3"></i>
            <i class="fab fa-twitter fa-2x mr-3"></i>
            <i class="fab fa-pinterest fa-2x mr-3"></i>
         
          </div>
          </div>
  
        <!-- <hr class="mt-0 "> -->
        <div class="d-flex flex-row flex-wrap  rating-container">
          <div>
            <i class="fa fa-heart fa-2x pt-1 heart-size"></i>
            <span class="number">80%</span>
            <h5 class="voting-text">1,961 votes</h5>
          </div>
          <div class="d-flex flex-row flex-wrap ">
            <div>
              <span class="rating">4.7</span>
              <i class="fa fa-heart fa-1x pt-2"> </i> <i class="fa fa-heart fa-1x pt-2"></i> <i
                class="fa fa-heart fa-1x pt-2"></i>
              <i class="fa fa-heart fa-1x pt-2"></i>
              <h5 class="rating-text">USER RATING</h5>
            </div>
            <div class="ml-4">
              <i class="fa fa-heart fa-1x pt-2"> </i> <i class="fa fa-heart fa-1x pt-2"></i> <i
                class="fa fa-heart fa-1x pt-2"></i>
              <i class="fa fa-heart fa-1x pt-2"></i>
              <span class="individual-rating">0</span>
              <h5 class="rating-text">RATE IT</h5>
            </div>
          </div>
        </div>
  
    <div class="d-flex flex-row hotstar">
      <img src="../../assets/img/hotstar-logo-png.png">
      <div class="channel ml-2">
        <h6 class="mb-0">Streaming Channels</h6>
        <p>Disney+ Hotstar</p>
      </div>
      <button type="button" class="btn btn-primary">Watch Online</button>
    </div>
    <div class="d-flex flex-row ">
    <div class="card trending">
      <img class="card-img-top" src="../../assets/img/pic2.jpg" alt="Card image">
      <div class="card-body p-0">
        <p class="card-text mb-0">Some example text.</p>
        <h6> 16 April</h6>
      </div>
    </div>
  
    <div class="card trending">
      <img class="card-img-top" src="../../assets/img/pic2.jpg" alt="Card image">
      <div class="card-body p-0">
        <p class="card-text mb-0">Some example text.</p>
        <h6> 16 April</h6>
      </div>
    </div>
    <div class="card trending">
      <img class="card-img-top" src="../../assets/img/pic2.jpg" alt="Card image">
      <div class="card-body p-0">
        <p class="card-text mb-0">Some example text.</p>
        <h6> 16 April</h6>
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="Summary"> 
        
        <h4>CAST</h4>
        <div class="cast">
            <img src="../../assets/img/Robert_Downey_Jr.jpg" alt="Card image">
            <h5> Robert Downey Jr</h5>
            <h5>Actor</h5>
            <h5>As Tony Stark</h5>
        </div>    
    </mat-tab>
    <mat-tab label="User Review"> User Review </mat-tab>
    <mat-tab label="Critic Reviews"> Critic Reviews  </mat-tab>
  </mat-tab-group>
  
  </div>